@(count: Long, list: List[com.mongodb.casbah.Imports.DBObject])

<h1>Very basic read from MongoDB database</h1>

<p>Here we read all documents from database <code>sampleapp</code>, collection <code>testcoll1</code>.</p>


<h2>Total number of documents in collection:</h2>
<p>@count</p>


<h2>Query results</h2>

<h3>Number of query results:</h3>
<p>@list.length</p>

<h3>Results as <code>List[com.mongodb.casbah.Imports.DBObject]</code>:</h3>
<code>@list</code>

<h4>Iterate over the list:</h4>
@import java.math.BigInteger; var i = 0;
@for(doc <- list) {
	@{i += 1; i}:<br>
	As JSON string: @doc<br>
	Accessing individual attributes:<br><br>
	<dl style="background: #ccc">
		<dt>_id</dt>
		<dd>@doc.get("_id")</dd>
		<dt>foo</dt>
		<dd>@doc.get("foo")</dd>
		<dt>x</dt>
		<dd>@doc.get("x")</dd>
		<dt>pie</dt>
		<dd>@doc.get("pie")</dd>
		<dt>spam</dt>
		<dd>@doc.get("spam")</dd>
		<dt>created</dt>
		<dd>@doc.get("created")</dd>
		<dt>otherkey</dt>
		<dd>@doc.get("otherkey")</dd>
	</dl>
	<br><br>
}